$blue: #14181F;
$blue-dark: #0A0C10;
$blue-light: #272A31;

$white: #EDF1F7;
$white-dark: #E5E9EF;
$white-light: #F4F7FB;

$gray-1: #B5B6B8;
$gray-2: #A1A3A5;
$gray-3: #959698;

// gradiente
:root {
    --color-white: #fff;
    --color-gray: #c4c4c4;
    --color-black: #000;
    --color-purple: #8000ff;
    --color-light-purple: #cf59e6;
    --color-light-blue: #6bc5f8;
}